:root {
    --gutter: min(8vw, 8vh);
    --lgfont: min(7vw, 7vh);
    --strong: min(5vw, 5vh);
    --mdfont: min(3vw, 3vh);
    --smfont: min(2.5vw, 2.5vh);
    --border: min(.5vw, .5vh);
    --black: #333333;
    --charcoal: #666666;
    --grey: #afafaf;
    --white: #dddddd;
    --orange: #ee8822;
    --red: #971515;
    --green: #22a844;
    --blood: #a82244;
}

body {
    background: var(--white);
    color: var(--charcoal);
    font-family: Lucidatypewriter, monospace;
    font-size: var(--mdfont);
    line-height: calc(var(--mdfont)*1.1);
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-size: var(--lgfont);
    line-height: calc(var(--lgfont)*1.1);;
}

h1 {
    flex: 3 1 0px;
    text-align: center;
}

h3 {
    font-size: var(--strong);
    line-height: var(--strong);
    margin: 0;
    text-transform: uppercase;
}

header {
    align-items: center;
    background: var(--charcoal);
    border-bottom: var(--border) solid var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-between;
}

#hiscore, #newGame {
    flex: 1 1 0px;
    margin: calc(var(--smfont)/2);
}

#newGame {
    text-align: right;
}

#hiscore div, #newGame div, #phase, #points {
    background: var(--white);
    border: var(--border) solid var(--black);
    border-radius: var(--border);
    color: var(--charcoal);
    display: inline-block;
    font-size: var(--smfont);
    padding: calc(var(--smfont)/2);
    text-align: left;
}

#newGame div {
    cursor: pointer;
}

#newGame div:hover, #newGame div:active, #newGame div:focus {
    border-color: var(--orange);
    outline: none;
}

#start, #quiz, #winner {
    margin: 0 auto var(--gutter);
    width: 90vw;
}

#start span, #winner span {
    color: var(--orange);
}

#startBtn, #restartBtn {
    background: var(--white);
    border: var(--border) solid var(--black);
    border-radius: var(--border);
    color: var(--charcoal);
    display: inline-block;
    font-size: var(--smfont);
    margin-top: calc(var(--smfont)/2);
    padding: calc(var(--smfont)/2);
}

#startBtn:hover, #startBtn:active, #startBtn:focus, #restartBtn:hover, #restartBtn:active, #restartBtn:focus {
    background: var(--black);
    color: var(--white);
    cursor: pointer;
    outline: none;
}

#bottom {
    text-align: center;
}

#answers span {
    border: var(--border) solid transparent;
    cursor: pointer;
    font-size: var(--smfont);
    padding: var(--border);
}

#container {
    position: relative;
}

#phase {
    left: var(--smfont);
    position: absolute;
    top: var(--smfont);
    width: auto;
}

#points {
    left: auto;
    min-width: 10vw;
    position: absolute;
    right: var(--smfont);
    top: var(--smfont);
    width: auto;
}

#hitpoints {
    background: var(--green);
    float: left;
    width: 100%;
}

#lost {
    background: var(--red);
    float: right;
    width: calc(100% * var(--lost)/10);

}

#main {
    text-align: center;
}

#hero {
    display: block;
    margin: 0 auto;
    max-height: 50vh;
    max-width: 95vw;
    width: auto;
}

#taunt {
    background: var(--charcoal);
    border: var(--border) solid var(--black);
    color: var(--white);
    bottom: 0;
    cursor: pointer;
    left: 50%;
    padding: var(--mdfont);
    position: absolute;
    text-align: left;
    transform: translateX(-50%) translateY(90%);
    width: 90vw;
}

#taunt:hover, #taunt:active, #taunt:focus {
    border-color: var(--grey);
    outline: none;
}

#taunt span {
    display: inline-block;
    line-height: var(--mdfont);
    margin-right: var(--strong);;
}

#taunt-esc {
    bottom: var(--mdfont);
    position: absolute;
    right: var(--mdfont);
    width: var(--strong);
}

#answers-left, #answers-right {
    display: inline-block;
    margin-left: var(--gutter);
    margin: 0 auto;
    position: relative;
    text-align: right;
    width: calc(49% - var(--gutter));
}

#choice {
    display: inline-block;
}

#choice img {
    height: var(--smfont);
    margin-right: calc(2 * var(--border));
    transform: translateY(15%);
    width: auto;
}

#choice + span {
    border-color: var(--orange);
}

#splat {
    bottom: 0;
    left: 50%;
    max-height: 60vh;
    max-width: 95vw;
    position: absolute;
    transform: translateX(-50%);
    width: auto;
    z-index: 2;
}

#winned {
    margin-top: var(--gutter);
}

#sure {
    background: rgba(0,0,0,.85);
    border-radius: var(--border);
    border: var(--border) solid var(--black);
    color: var(--white);
    left: 50%;
    padding: calc(var(--gutter)*2);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#sure span:hover {
    cursor: pointer;
}

@-webkit-keyframes 'blink' {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.blink {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -moz-animation-name: blink;
    -o-animation-name: blink;
    -ms-animation-name: blink;
    animation-name: blink;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
