* {
    line-height: 1.1em;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Lucidatypewriter, monospace;
    color: #666666;
    display: inline-block;
    cursor: none;
}
head, script {
    display: none;
}
body {
    width:100%;
}
header {
    margin: auto;
    width: 100%;
    height: auto;
    background-color: #000000;
    position: relative;
    top: 0;
    text-align: center;
    padding: 25px 0;
    border-bottom: #666666 solid 5px;
}
header h1 {
    font-size: 50px;
}
header span {
    position: absolute;
    right: 50px;
    top: 45px;
    font-size: 24px;
    width: 181px;
    background-color: #dddddd;
    border: #666666 solid 3px;
    padding: 8px;
    border-radius: 3px;
    color: #000000;
    display: none;
}
#hiscore {
    left: 50px;
    top: 32px;
}
#winned {
    font-size: 60px;
    width: 85%;
    color: #971515;
    margin-top: 25px;
}
#start, #winner {
    position: absolute;
    width: 100%;
    background: #dddddd;
    height: 620px;
    z-index: 5;
    text-align: center;
    padding-top: 15px;
}
#start h2 {
    display: block;
    font-size: 50px;
}
#start p {
    font-size: 26px;
    width: 85%;
    margin-top: 25px;
}
#start span {
    font-size: 26px;
    color: #eeaa22;
}
#container {
    line-height: 18px;
    position: relative;
    width: 100%;
}
#sure {
    position: absolute;
    z-index: 2;
    width: 44%;
    left: 25%;
    border: #dddddd solid 1px;
    top: 150px;
    text-align: center;
    font-size: 48px;
    padding: 115px 3%;
    background-color: #000000;
    color: #dddddd;
    display: none;
}
#sure span {
    font-size: 48px;
    color: #dddddd;
}
#splat {
    width: 415px;
    height: auto;
    position: absolute;
    z-index: 1;
    left: 33%;
    top: -31px;
}
#phase, #points {
    border: #666666 solid 2px;
    width: 95px;
    height: 80px;
    background-color: #dddddd;
    position: absolute;
    top:20px;
    display: inline-block;
    padding: 15px;
    line-height: 2em;
}
#phase {
    left: 10px;
}
#points {
    right: 10px;
}
#hitpoints {
    width: 70px;
    background-color: #22a844;
    margin-left: 5px;
}
#lost {
    width: 0px;
    background-color: #a82244;
    position: relative;
    right: -63px;
}
#main {
    width: 100%;
}
br {
    clear: both;
}
figure {
    width: 100%;
    text-align: center;
}
.hero {
    width: 500px;
    height: auto;
}
#taunt {
    background-color: #666666;
    height: auto;
    width: 75%;
    min-width: 750px;
    min-height: 200px;
    text-align: left;
    padding: 15px 2%;
    display: block;
    position: absolute;
    top: 368px;
    right: 10%;
    z-index: 1;
    border: #000000 solid 5px;
}
#taunt span, #taunt p {
    color: #dddddd;
    display: inline;
    font-size: 48px;
}
footer {
    background-color: #dddddd;
    width: 100%;
    min-height: 200px;
    height: auto;
    display: inline-block;
    position: relative;
    bottom: 0;
    padding: 25px 0;
    text-align: center;
    min-height:200px;
    border-top: #666666 solid 5px;
}
footer p {
    font-size: 26px;
    width: 85%;
}
#taunt-esc {
    height: auto;
    width: 35px;
    margin-left: 35px;
}
#choice img {
    height: auto;
    width: 20px;
    margin-right: 25px;
}
#answers {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}
#answers-left, #answers-right {
    display: inline-block;
    text-align: right;
    margin-right:2%;
}
#answers-left {
    width: 30%;
}
#answers-right {
    width: 30%;
}
#answers span {
    font-size: 25px;
}
@-webkit-keyframes 'blink' {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.blink {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-direction: normal;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-direction: normal;
    -o-animation-duration: 2s;
    -o-animation-iteration-count: infinite;
    -o-animation-name: blink;
    -o-animation-timing-function: ease-in-out;
    -ms-animation-direction: normal;
    -ms-animation-duration: 2s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-name: blink;
    -ms-animation-timing-function: ease-in-out;
}
@media screen and (max-width: 1000px){
    body, header, footer, #start, #container{width: 1000px;}
}